body{
	width: 90%; /* Scales for smaller screens */
	max-width: 800px; /* Limit the maximum width for larger screens */
	height: 100vh;
	margin: 0 auto; /* Center the content */
	font-family: Tahoma;
	font-size: 16px;
	padding-top: 5%;
}

a {
	text-decoration: none; /* Removes underlined text */
  }


#title-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px; /* Space between the image and text */
	padding-bottom: 5%;
}

#text-container {
	text-align: left; /* Align the text to the left */
}

#title {
	font-size: 2.5rem;
	margin: 0; /* Remove default margins */
}

#about {
	font-size: 1rem;
	color: #555;
	margin: 0; /* Remove default margins */
}

#description {
	font-size: 1rem;
	color: #555;
	padding-top: 0%
}

#title-container img {
	border-radius: 50%; /* Makes the image circular */
}

#research, #contact{
	font-size: 1.5rem;
	margin: 0;
}

#research-theme{
	font-size: 1.25rem;
	color: #555;
	margin: 0; /* Remove default margins */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
	#title-container {
		flex-direction: column; /* Stack the image and text vertically */
		text-align: center; /* Center the text for smaller screens */
	}

	#title-container img {
		margin-bottom: 15px; /* Add space between the image and text */
	}

	#text-container {
		text-align: center; /* Center the text for better alignment */
	}

	#title {
		font-size: 2rem; /* Adjust the title size for smaller screens */
	}

	#about {
		font-size: 0.9rem; /* Adjust the font size for smaller screens */
	}

	#description {
		font-size: 0.9rem; /* Adjust the font size for smaller screens */
	}
}